irods:///iplant/home/shared/irri/read1/T11073/Fq/AB03/AB03_111221_I596_FCD0HFCACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_1.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB03/AB03_111221_I596_FCD0HFCACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_2.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB03/AB03_111221_I596_FCD0JLGACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_1.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB03/AB03_111221_I596_FCD0JLGACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_2.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB03/AB03_111223_I199_FCD0JL9ACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_1.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB03/AB03_111223_I199_FCD0JL9ACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_2.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB03/AB03_120225_I666_FCD0L6HACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_1.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB03/AB03_120225_I666_FCD0L6HACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_2.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB03/AB03_120225_I666_FCD0L6HACXX_L6_RICwdsRSYHSD23-2-IPAAPEK-57_1.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB03/AB03_120225_I666_FCD0L6HACXX_L6_RICwdsRSYHSD23-2-IPAAPEK-57_2.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB04/AB04_111221_I596_FCD0HFCACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_1.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB04/AB04_111221_I596_FCD0HFCACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_2.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB04/AB04_111221_I596_FCD0JLGACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_1.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB04/AB04_111221_I596_FCD0JLGACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_2.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB04/AB04_111223_I199_FCD0JL9ACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_1.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB04/AB04_111223_I199_FCD0JL9ACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_2.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB04/AB04_120225_I666_FCD0L6HACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_1.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB04/AB04_120225_I666_FCD0L6HACXX_L4_RICwdsRSYHSD23-2-IPAAPEK-57_2.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB04/AB04_120225_I666_FCD0L6HACXX_L6_RICwdsRSYHSD23-2-IPAAPEK-57_1.fq.gz
irods:///iplant/home/shared/irri/read1/T11073/Fq/AB04/AB04_120225_I666_FCD0L6HACXX_L6_RICwdsRSYHSD23-2-IPAAPEK-57_2.fq.gz
